<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Personal macro tracking.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- By Eric Schulte, source at https://github.com/eschulte/macros. -->
    <link rel="icon" href="{{ "/macronutrients-carbs-protein-fat.png" |url }}">
    <link rel="apple-touch-icon" href="{{ "/macronutrients-carbs-protein-fat.png" |url }}">
    <link rel="apple-touch-startup-image" href="{{ "/macronutrients-carbs-protein-fat.png" |url }}">
    <link rel="apple-mobile-web-app-title" content="Macros">
    <link rel="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-mobile-web-app-status-bar-style" content="translucent black">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.4.0/css/all.css">
    <!-- <link rel="stylesheet" href="{{ "/style.css"|url }}"> -->
    <!-- <link rel="icon" href="{{ "/favicon.ico" |url }}"> -->
    <!-- <script src="https://vega.github.io/vega/vega.min.js"></script> -->
    <script src="{{ "/vega.min.js" |url }}"></script>
    <script src="{{ "/autocomplete.js" |url }}"></script>
    <script src="{{ "/macros.js" |url }}"></script>
    <script src="{{ "/targets.json" |url }}"></script>
    <script src="{{ "/foods.json" |url }}"></script>
    <script src="{{ "/actuals.json" |url }}"></script>
    <script src="{{ "/macros-ui.js" |url }}"></script>
    <style>
      .food:hover { color: red; }
      #download {
          position: fixed;
          top: 20px;
          right: 40px;
      }
    </style>
  </head>
<body class="w3-light-grey">
  <div class="w3-container">
    {{ content | safe }}
  </div>
</body>
<script>
  local_actuals_up()
  ensure_today()
  update_ui()
  if(document.getElementById("add-food")){
    autocomplete(document.getElementById("add-food"), Object.keys(foods));
  }
</script>
</html>
