<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <!-- By Eric Schulte, source at https://github.com/eschulte/macros. -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="manifest" href="{{ "/manifest.json" |url }}" />
    <link rel="icon" href="{{ "/icons-192.png" |url }}" type="image/png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.4.0/css/all.css">
    <script src="{{ "/vega.min.js" |url }}"></script>
    <script src="{{ "/autocomplete.js" |url }}"></script>
    <script src="{{ "/macros.js" |url }}"></script>
    <script src="{{ "/targets.json" |url }}"></script>
    <script src="{{ "/foods.json" |url }}"></script>
    <script src="{{ "/actuals.json" |url }}"></script>
    <script src="{{ "/macros-ui.js" |url }}"></script>
    <style>
      .food:hover { color: red; }
      #download {
          position: fixed;
          top: 20px;
          right: 40px;
      }
      .network-message {
          font-weight: 200;
          position: fixed;
          bottom: 32px;
          right: 32px;
      }
    </style>
  </head>
<body class="w3-light-grey">
  <div class="w3-container">
    {{ content | safe }}
  </div>
  <div class="network-message">
    Network:
    <span id="network-status" class="">Good</span>
  </div>
  <script type="text/javascript">
    if (navigator.serviceWorker != null) {
      navigator.serviceWorker.register('sw.js')
        .then(function(registration) {
          console.log('Registered events at scope: ', registration.scope);
        });
    }

    fetch('./data.json')

    var statusEl = document.querySelector('#network-status')
    if (!navigator.onLine) {
      statusEl.classList = ['is-offline']
      statusEl.innerText = 'Offline'
    }

    local_actuals_up()
    ensure_today()
    update_ui()
    if(document.getElementById("add-food")){
      autocomplete(document.getElementById("add-food"), Object.keys(foods));
    }
    if(window.navigator.standalone){
      document.getElementById("today").innerHTML = "Today+"
    } else {
      document.getElementById("today").innerHTML = "Today-"
    }
  </script>
</body>
</html>
