<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <!-- By Eric Schulte, source at https://github.com/eschulte/macros. -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="manifest" href="{{ "/manifest.json" |url }}" />
    <link rel="icon" href="{{ "/icons-192.png" |url }}" type="image/png" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ "/w3.css" |url }}">
    <link rel="icon" href="{{ "/favicon.ico" |url }}">
    <link rel="apple-touch-icon" href="{{ "/icon-512.png" |url }}">
    <link rel="apple-touch-startup-image" href="{{ "/icon-512.png" |url }}">
    <script src="{{ "/vega.min.js" |url }}"></script>
    <script src="{{ "/autocomplete.js" |url }}"></script>
    <script src="{{ "/macros.js" |url }}"></script>
    <script src="{{ "/targets.json" |url }}"></script>
    <script src="{{ "/foods.json" |url }}"></script>
    <script src="{{ "/macros-ui.js" |url }}"></script>
    <style>
      .food:hover { color: red; }
      .download {
          position: fixed;
          top: 20px;
          right: 20px;
      }
      .dead {
          opacity: 0.125;
      }
      .exchange {
          text-decoration: none;
      }
      .network-message {
          display: none;
          font-weight: 200;
          position: fixed;
          top: 20px;
          left: 50%;
          text-align: center;
          font-size: x-small;
      }
      #paste-actuals-container{
          display: none;
          position: absolute;
          top: 5%;
          left: 5%;
          width: 90%;
          z-index: 10;
      }
      #paste-actuals{
          width: 100%;
      }
    </style>
  </head>
<body class="w3-dark-grey w3-text-light-grey-">
  <div class="w3-container">
    {{ content | safe }}
  </div>
  <script type="text/javascript">
    if (navigator.serviceWorker != null) {
      navigator.serviceWorker.register('sw.js')
        .then(function(registration) {
          console.log('Registered events at scope: ', registration.scope);
        });
    }

    // fetch('./data.json')

    if (navigator.onLine) {
      document.getElementById('network-status').innerText = 'Online'
    } else {
      document.getElementById('network-status').classList = ['is-offline']
      document.getElementById('network-status').innerText = 'Offline'
    }
    if(window.navigator.standalone){
      document.getElementById("standalone-status").innerHTML = "Yes"
    } else {
      document.getElementById("standalone-status").innerHTML = "No"
    }

    local_actuals_up()
    ensure_today()
    update_ui()
    if(document.getElementById("add-food")){
      autocomplete(document.getElementById("add-food"), Object.keys(foods))
    }

    var today = document.getElementById("today");
    today.addEventListener("touchstart", handle_start, false);
    today.addEventListener("touchmove", handle_move("today"), false);
    today.addEventListener("touchcancel", handle_cancel, false);
    today.addEventListener("touchend", handle_end, false);
  </script>
</body>
</html>
